<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/forestcorgii/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="forestcorgii" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>


